body {
    font-family: "Lato", sans-serif;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #343434;
    text-align: center;
    color: #fff;
    font-size: 24pt;
    overflow-y: hidden;
}
/* Responsive */
@media screen and (max-width: 630px) {
    #particles-js {
        font-size: 24pt;
    }
}
@media screen and (max-width: 480px) {
    #particles-js {
        font-size: 11pt;
    }
}
